<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add a review</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand navbar-dark" style="background-color:#3f0d27">
	<div class="container-fluid">
		<a class="navbar-brand" style="color:white; padding-left:5px; padding-right:20px"> OENOPHILIA </a>
	    <ul class="navbar-nav mr-auto ">
	    	<li class="">
	        	<a class="nav-link" href="/">Home</a>
	    	</li>
	    	<li class="nav">
	        	<a class="nav-link" href="/wine">Wines</a>
	    	</li>
	    	<li class="nav">
	        	<a class="nav-link" href="/wineries">Wineries</a>
	    	</li>
	    	<li class="active">
	        	<a class="nav-link" href="/profile"> Hi <span th:text = "${user.username}"></span> !  <span class="sr-only">(current)</span></a>
	     	</li>
	    </ul>
	    <ul class="navbar-nav">
	     	<li class="nav-item">
	        	<a class="nav-link" href="/logout">Logout</a>
	      	</li>
	     </ul>
	     </div>
</nav>



<header class="py-4" style="background-color:#6B1533">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h3 class="display-5 fw-bolder">Complete info to add your review</span></h3>
			<p class="lead fw-normal text-white-50 mb-0"></p>
		</div>
	</div>
</header>

<div class="container" style="display:inline-block; margin-left:1.5%; margin-top:1%">
	<button class="btn btn-outline-danger my-2 my-sm-0"><a th:href="@{/wine/{id}(id=${reviewDto.wineId})}" style="color: #fb3f00; text-decoration: none;" >Cancel</a></button>
</div>

<section class="py-3">
	<form class="form-check  my-2 my-lg-0" th:object="${reviewDto}" th:action="@{/review/save}" method="post">
			<div class="container px-4 px-lg-5 my-5">
				<table  class="table">
					<tr>
						<td colspan="2"> How did you like the wine? </td>
				        <td><input type="radio" value=1 th:field= "*{rating}">
				        	<label for="1">1</label></td>
				        <td><input type="radio" value=2 th:field= "*{rating}">
				        	<label for="2">2</label></td>
				        <td><input type="radio" value=3 th:field= "*{rating}">
				        	<label for="3">3</label></td>
				        <td><input type="radio" value=4 th:field= "*{rating}">
				        	<label for="4">4</label></td>
				        <td><input type="radio" value=5 checked="checked" th:field= "*{rating}" required autofocus="autofocus">        
				        	<label for="5">5</label></td>
			        </tr>
			        <tr>
			        	<td>
			        		<input type="checkbox" id="fruit" name="fruit" th:value="true" th:checked="${fruit}" />
 							<label for="fruit">&nbsp;&nbsp;fruit</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="herbal" name="herbal" th:value="true" th:checked="${herbal}" />
 							<label for="herbal">&nbsp;&nbsp;herbal</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="floral" name="floral" th:value="true" th:checked="${floral}" />
 							<label for="floral">&nbsp;&nbsp;floral</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="butter" name="butter" th:value="true" th:checked="${butter}" />
 							<label for="butter">&nbsp;&nbsp;butter</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="nuts" name="nuts" th:value="true" th:checked="${nuts}" />
 							<label for="nuts">&nbsp;&nbsp;nuts</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="yeast" name="yeast" th:value="true" th:checked="${yeast}" />
 							<label for="yeast">&nbsp;&nbsp;yeast</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="vanilla" name="vanilla" th:value="true" th:checked="${vanilla}" />
 							<label for="vanilla">&nbsp;&nbsp;vanilla</label><br>
			        	</td>
			        <tr></tr>
			        	<td>
			        		<input type="checkbox" id="coconut" name="coconut" th:value="true" th:checked="${coconut}" />
 							<label for="coconut">&nbsp;&nbsp;coconut</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="spices" name="spices" th:value="true" th:checked="${spices}" />
 							<label for="spices">&nbsp;&nbsp;spices</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="toasted" name="toasted" th:value="true" th:checked="${toasted}" />
 							<label for="toasted">&nbsp;&nbsp;toasted</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="cigarBox" name="cigarBox" th:value="true" th:checked="${cigarBox}" />
 							<label for="cigarBox">&nbsp;&nbsp;cigarBox</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="tobacco" name="tobacco" th:value="true" th:checked="${tobacco}" />
 							<label for="tobacco">&nbsp;&nbsp;tobacco</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="leather" name="leather" th:value="true" th:checked="${leather}" />
 							<label for="leather">&nbsp;&nbsp;leather</label><br>
			        	</td>
			        	<td>
			        		<input type="checkbox" id="driedFruit" name="driedFruit" th:value="true" th:checked="${driedFruit}" />
 							<label for="driedFruit">&nbsp;&nbsp;driedFruit</label><br>
			        	</td>
			        </tr>			
				</table>

						
				<input type="hidden" id="wineId" name="wineId" value="${wineId}" th:field="*{wineId}">
				
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Submit</button>
				
			</div>
	</form>	

</section>




</body>
</html>